div.signup,div.login
{
  width: 30%;
  margin:auto;
  background-image:url('background1.jpg');
}
.sign1,.submit
{
  margin:8px;
  padding:6px;
  border:solid 1.5px;
  box-sizing: border-box;
  text-decoration:none;
}
.submit
{
  background-color:rgb(0,200,0);
}
h1.signup,h1.login

{
  color:blue;
}
a.common,a.login,a.signup,a.home
{
 text-decoration:none;
 border: solid 2px #ffee00;
 background-color:blue;
 color:white;
 padding:4px;
}
a.login,a.signup
{
  float:right;
}
.main,.log
{
  background-color:#ffee00;
  padding:20px;
  outline:solid 6px #ffee00;
}
.welcome
{
 float:right;
 color:blue;
 background-color:white;
}
.log1
{
 margin-top:20px;
}
.addlink
{
  width:40%;
}
table
{
 margin:10px;
}
th,td
{
border:2px solid brown;
color:black;
text-align:center;
padding:2px 10px 2px;
}
th
{
font-size:20px;
background-color:rgb(50,255,0);
}
a.common:hover,a.signup:hover,a.login:hover,a.home:hover
{
color: white;
background-color:blue;
text-align:center;
padding:8px;

}
 
.not
{
 margin:10px;
 color:rgb(200,100,123);
} 
